<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>

<div class="footer">
  <div class="top  h-auto">
    <div class="container">
      <div class="row mh-350px d-flex justify-content-center align-content-center py-5">
        <div class="col col-12 col-md-6 col-lg-3">
          <div class="top text-uppercase h-70px">
            <img src="/img/logo.webp" alt="Logo" class="mw-50px" />
          </div>
          <div class="bottom">
            The establishment of Fieldvest (Ikeja) Cooperative Multipurpose
            Society Limited was birthed by Olusegun Falabake.
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div class="top text-uppercase h-70px">Contact us</div>
          <div class="bottom">
            <ul>
              <li>support@coopitalcooperative.org</li>
              <li>info@coopitalcooperative.org</li>
              <li>+234 (0) 9036038123</li>
              <li>
                Shop A1-161 HFP Eastline Shopping Complex, Abraham Adesanya
                Bustop, Lekki-Epe Expressway, Lagos.
              </li>
            </ul>
          </div>
        </div>
        <div class="col col-12 col-md-6 col-lg-3">
          <div class="top text-uppercase h-70px">Get started</div>
          <div class="bottom">
            <ul>
              <li><a href="#">Register</a></li>
              <li><a href="#">Loan Application</a></li>
              <li><a href="#">Loan Calculator</a></li>
              <li><a href="#">Mortgage Loan Calculator</a></li>
            </ul>
          </div>
        </div>

        <div class="col col-12 col-md-6 col-lg-3">
          <div class="top text-uppercase h-70px">Support &#38; Help</div>
          <div class="bottom">
            <ul>
              <li><a href="#">Register</a></li>
              <li><a href="#">Loan Application</a></li>
              <li><a href="#">Loan Calculator</a></li>
              <li><a href="#">Mortgage Loan Calculator</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="container c-primary-light py-3 text-center">
      <a href="#">Privacy Policy</a> / Fieldvest (Ikeja) Cooperative
      Multipurpose Society Limited &copy; 2022 / Powered by Fieldvest
      Cooperative
    </div>
  </div>
</div>
