<!-- BOOTSTRAP -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>

<%- include('../partials/header') %>
<!-- ABOUT PAGE -->
<div class="about-page">
  <!-- First section -->
  <div class="first-section">
    <div
      class="container mh-350px d-flex flex-column justify-content-center align-items-center"
    >
      <div class="top c-primary-light py-3 display-6">
        Fieldvest (Ikeja) Cooperative Multipurpose Society Limited
      </div>
      <div class="fs-2 text-white">Where Capital Meets Cooperation</div>
    </div>
  </div>
  <!-- Second section -->
  <div class="second-section py-4 lh-2">
    <div class="container">
      <div class="s-first py-3">
        <div class="top d-flex align-items-center gap-3">
          <div>
            <span class="material-icons fs-2 c-primary"> history </span>
          </div>
          <div class="fs-2">Cooperative story</div>
        </div>
        <div class="bottom lh-2">
          <div class="py-2">
            Coopital (Lekki) Cooperative Multipurpose Society Limited (CCMS) was
            established as a Cooperative in May 2019 and duly registered by the
            Lagos State Government Ministry of Commerce, Industry and
            Cooperatives to operate as a social enterprise. The Cooperative is
            supervised by this Ministry through the Directorate of Cooperatives
            and guided by Bye-laws for cooperatives.
          </div>
          <div class="py-2">
            The establishment of Coopital (Lekki) Cooperative Multipurpose
            Society Limited was birthed by Creditude Global Services Limited who
            initiated the registration process of the cooperative society along
            with twenty (20) individuals to the Lagos Ministry of Commerce,
            Industry and Cooperatives with the applicable registration fees
            paid, the technology platform built and deployed for public use.
          </div>
        </div>
      </div>
      <div class="s-second">
        <div class="row">
          <div class="left col col-12 col-md-6">
            <div class="top d-flex align-items-center gap-3">
              <div>
                <span class="material-icons fs-2 c-primary"> visibility </span>
              </div>
              <div class="fs-2">Our Vision</div>
            </div>
            <div class="bottom">
              To be the cooperative that people go to for diversified financial
              and allied services that improve the quality of life of members
              and the community.
            </div>
          </div>
          <div class="right col col-12 col-md-6">
            <div class="top d-flex align-items-center gap-3">
              <div>
                <span class="material-icons fs-2 c-primary"> ads_click </span>
              </div>
              <div class="fs-2">Our Mission</div>
            </div>
            <div class="bottom">
              To efficiently deliver relevant products and services to members
              through digital channels compliant with international best
              practice.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Third section -->
  <div class="third-section bg-success text-white fs-1-2 pb-3">
    <div
      class="ts-inner p-2 d-flex justify-content-center align-items-center flex-column slanted py-6 mh-400px"
    >
      <div class="top fs-2 py-4">
        Our Guiding <span class="c-primary-light"> Principles</span>
      </div>
      <div class="bottom">
        <ul class="row">
          <li class="col col-12 col-md-4 d-flex align-items-center gap-2 py-3">
            <div>
              <span class="material-icons text-white">
                check_circle_outline
              </span>
            </div>
            <div>Voluntary And Open Membership</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-2 py-3">
            <div>
              <span class="material-icons text-white">
                check_circle_outline
              </span>
            </div>
            <div>Democratic Member Control</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-2 py-3">
            <div>
              <span class="material-icons text-white">
                check_circle_outline
              </span>
            </div>
            <div>Member Economic Participation</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-2 py-3">
            <div>
              <span class="material-icons text-white">
                check_circle_outline
              </span>
            </div>
            <div>Autonomy And Independence</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-2 py-3">
            <div>
              <span class="material-icons text-white">
                check_circle_outline
              </span>
            </div>
            <div>Education, Training And Information</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-2 py-3">
            <div>
              <span class="material-icons text-white">
                check_circle_outline
              </span>
            </div>
            <div>Member Economic Participation</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-2 py-3">
            <div>
              <span class="material-icons text-white">
                check_circle_outline
              </span>
            </div>
            <div>Cooperation Among Cooperatives</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Fourth section -->
  <div class="fourth-section bg-success text-white fs-1-2 pb-3 mh-350px">
    <div
      class="ts-inner p-2 d-flex justify-content-center align-items-center flex-column slanted py-6"
    >
      <div class="top fs-2 py-4">
        Our Primary <span class="c-primary-light"> Goals</span>
      </div>
      <div class="bottom">
        <ul class="row">
          <li class="col col-12 col-md-4 d-flex align-items-center gap-4 py-3">
            <div class="fs-2">01</div>
            <div>
              Inculcate Into Its Members The Habit Of Saving A Portion Of Every
              Income Earned.
            </div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-4 py-3">
            <div class="fs-2">
              02
            </div>
            <div>Provide The Avenue For Loans At Cheap And Affordable Interest Rates.</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-4 py-3">
            <div class="fs-2">
              03
            </div>
            <div>Serve As A Vehicle For Investment.</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-4 py-3">
            <div class="fs-2">
              04
            </div>
            <div>Provide Access To Cheap Mortgage Loans And Affordable Properties.</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-4 py-3">
            <div class="fs-2">
              05
            </div>
            <div>Empower Its Members Sufficiently To Help Prevent Old-Age Poverty.</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-4 py-3">
            <div class="fs-2">
              06
            </div>
            <div>Provide A Platform For Nigerians In Diaspora To Save And Grow Their Wealth At Home While Abroad.</div>
          </li>
          <li class="col col-12 col-md-4 d-flex align-items-center gap-4 py-3">
            <div class="fs-2">
              07
            </div>
            <div>Provide A Digital-First Cooperative Platform For The Management Of Members’ Cooperative Business.</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- Fifth section -->
  <div class="fifth-section"></div>
  <!-- Sixth section -->
  <div class="sixth-section">
    <div class="container">
      <div class="row mh-200px text-center">
        <div class="left col-12 col-md-6 m-auto c-primary py-2 fs-2">
          Be a part of this Community.
        </div>
        <div class="right col-12 col-md-6 m-auto mw-500px py-2">
          <a href="#" class="btn btn-success">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
