<!-- BOOTSTRAP -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous"
/>

<%- include('../partials/header') %>

<div class="loans-page">
  <!-- First section -->
  <div class="first-section">
    <div
      class="container mh-350px d-flex flex-column justify-content-center align-items-center"
    >
      <div class="top c-primary-light py-3 display-6">Other Services</div>
      <div class="fs-2 text-white">We also offer</div>
    </div>
  </div>
  <!-- Second section -->
  <div class="second-section bg-success">
    <div class="bg-white slanted p-5">
      <div class="top d-flex align-items-center gap-3">
        <div class="fs-2 c-primary">01</div>
        <div class="fs-2">Micro Pension Collections</div>
      </div>
      <div class="bottom lh-2">
        <div class="py-2">
          The Pension Reform Act (PRA) 2014 expanded coverage of the contributory pension Scheme to the self-employed and persons working in organizations with less than 3 employees. Coopital Cooperative acts only as a collector of pension contributions for onward remittance to the designated Pension fund administrator (PFA).
        </div>
      </div>
    </div>
  </div>
  <!-- Third section -->
  <div class="third-section bg-white text-white">
    <div class="slanted p-5 bg-success">
      <div class="top d-flex align-items-center gap-3">
        <div class="fs-2">02</div>
        <div class="fs-2">Insurance Premium Collections</div>
      </div>
      <div class="bottom lh-2">
        <div class="py-2">
          This is for payment of insurance premium. On the payment page/ checkout, there is a dropdown to set the insurance company one is paying for.
        </div>
      </div>
    </div>
  </div>
  <!-- Fourth section -->
  <div class="fourth-section bg-success">
    <div class=" bg-white p-5">
      <div class="top d-flex align-items-center gap-3">
        <div class="fs-2 c-primary">03</div>
        <div class="fs-2">Property Listing</div>
      </div>
      <div class="bottom lh-2">
        <div class="py-2">
          Coopital Cooperative is in collaboration with a number of Real Estate Developers, agents and Consultants as an intermediary for property transactions. From time to time, the society also embarks on property developer/ purchase for sale to its members. Available properties are always on display on our website.
        </div>
      </div>
    </div>
  </div>
  <!-- Fourth section -->
  <div class="fourth-section bg-success text-white">
    <div class="container">
      <div class="row mh-200px text-center">
        <div class="left col-12 col-md-6 m-auto py-2 fs-2">
          Be a part of this Community.
        </div>
        <div class="right col-12 col-md-6 m-auto mw-500px py-2">
          <a href="#" class="btn btn-outline-light">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
