<%- include('../partials/header') %>




<!-- First section -->
<div class="first-section"></div>
<!-- Second section -->
<div class="second-section"></div>
<!-- Third section -->
<div class="third-section"></div>
<!-- Fourth section -->
<div class="fourth-section"></div>
<!-- Fifth section -->
<div class="fifth-section"></div>
<!-- Sixth section -->
<div class="sixth-section"></div>

<%- include('../partials/footer') %>
