<!-- BOOTSTRAP -->
<link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  rel="stylesheet"
  integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
  crossorigin="anonymous" />

<%- include('../partials/header') %>

<div class="savings-page">
  <!-- First section -->
  <div class="first-section">
    <div
      class="container mh-350px d-flex flex-column justify-content-center align-items-center">
      <div class="top c-primary-light py-3 display-6">Savings</div>
      <div class="fs-2 text-white">Savings like no other</div>
    </div>
  </div>
  <!-- Second section -->
  <div class="second-section bg-success">
    <div class="bg-white slanted p-5">
      <div class="top d-flex align-items-center gap-3">
        <div class="fs-2 c-primary">01</div>
        <div class="fs-2">Compulsory Savings</div>
      </div>
      <div class="bottom lh-2">
        <div >
          This is a compulsory saving that must be contributed by all members of
          Fieldvest Cooperative as a condition of membership and to access
          credit (loans) otherwise face the risk of been expelled from the
          society for non-performance. Members are compelled to make
          contributions on a regular basis; it is a membership saving and must
          be saved on a daily, weekly, or monthly basis.
        </div>
       
        <div class="">
          The minimum monthly savings have been set at N5,000. It is the only
          type of savings that is eligible for dividend payment while other
          types of savings earn only interest. This compulsory saving is
          collected to lend to members. If members fail to save on time, they
          will get penalized based on the saving policy of the society. Unless a
          member quits the society, he or she must save on a regular basis. If a
          member wants to withdraw from Fieldvest Cooperative Society, it is
          only under this condition that compulsory savings may be withdrawn.
          Exit from the Cooperative is only permitted after 12 months of joining
          the society.
        </div>
      </div>
    </div>
  </div>
  <!-- Third section -->
  <div class="third-section bg-white">
    <div class="slanted p-5 bg-success text-white">
      <div class="top d-flex align-items-center gap-3">
        <div class="fs-2">02</div>
        <div class="fs-2">Daily Savings</div>
      </div>
      <div class="bottom lh-2">
        <div class="">
          As the name implies, it is a voluntary saving, and it is open to
          members and nonmembers. A fee is charged on this daily savings every
          month which is equivalent to the first daily contribution. It is also
          an obligatory part of accessing credit services from Fieldvest Coop.
          They are provided by both the borrowers and non-borrowers who can
          deposit or withdraw according to their needs.
        </div>
        <div class="">
          The daily savings are best fit for people who receive constant
          cashflow like farmers, traders and other self-employed persons who get
          incomes when they sell off their product or receive contract proceeds.
          They can make voluntary saving at end of market days, receipt of
          contract payment and transfer monthly to their compulsory saving
          accounts. This kind of saving can be withdrawn at any time when the
          owner needs it. Fieldvest Cooperative society do not provide saving
          interest nor eligible for dividend payment for this voluntary savings.
        </div>
      </div>
    </div>
  </div>
  <!-- Fourth section -->
  <div class="fourth-section bg-white">
    <div class="slanted p-5">
      <div class="top d-flex align-items-center gap-3">
        <div class="fs-2 c-primary">03</div>
        <div class="fs-2">Fixed Deposit</div>
      </div>
      <div class="bottom lh-2">
        <div class="">
          A fixed deposit is an investment and a form of savings that earns you
          a higher interest rate. This kind of savings account is where a member
          saves to meet a particular goal. It is a savings focused at achieving
          a goal e.g. school fees, rent, car purchase, vacation, land
          acquisition, wedding ceremony, burial, house buying, etc. The fixed
          deposit account allows a member to deposit once, and they withdraw the
          money after a period. The time ranges from 3 months onwards. This type
          of savings earns a higher interest rate which is varied by the
          cooperative from time to time but is not eligible for dividend
          payment.
        </div>
      </div>
    </div>
  </div>

  <!-- Fourth section -->
  <div class="fourth-section bg-success text-white">
    <div class="container">
      <div class="row mh-200px text-center">
        <div class="left col-12 col-md-6 m-auto py-2 fs-2">
          Be a part of this Community.
        </div>
        <div class="right col-12 col-md-6 m-auto mw-500px py-2">
          <a href="/register" class="btn btn-outline-light">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
