<div class="slanted">HI</div>

.slanted { background-color:red; height:500px; -webkit-clip-path: polygon(0 0,
100% 0, 100% 56%, 0 100%); clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%); }

<!-- First section -->
<div class="first-section"></div>
<!-- Second section -->
<div class="second-section"></div>
<!-- Third section -->
<div class="third-section"></div>
<!-- Fourth section -->
<div class="fourth-section"></div>
<!-- Fifth section -->
<div class="fifth-section"></div>
<!-- Sixth section -->
<div class="sixth-section"></div>

